<p>{SOLUTION_TXT}</p>
<!-- BEGIN incomplete -->
<div id="teacher_button_toggle" >
	<input class="submit" id="viplab_editor_btn_{VIPEDITOR_ID}" name="cmd[showManScoringParticipantScreen]" value="{EDITOR_INIT}" type="submit" />
	<input type="hidden" id="viplab_editor_initialized_{VIPEDITOR_ID}" name="viplab_editor_initialized_{VIPEDITOR_ID}" value="0" />
	<script>
		$("#viplab_editor_btn_{VIPEDITOR_ID}").click(function ()
		{
			$("#viplab_editor_initialized_{VIPEDITOR_ID}").val("1");
		}
		);
	</script>
	<noscript>
	      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
              Your web browser must have JavaScript enabled
	      in order for this application to display correctly.
	      </div>
     	</noscript>
</div>
<!-- END incomplete -->
<!-- BEGIN complete -->
<div id="teacher_applet_placeholder" style="position: relative; width: 90vw; height: 85vh;  
					    left: -20vw; top: 3ex">
<div id="teacher_applet_toggle" style="position: absolute; width: 90vw;
				       height: 80vh">
     <meta name="gwt:property" content="locale=<%=request.getLocale()%>">
     <meta name="viplab:ecslocation" content="{VIP_ECS_URL}/numlab">	
     <meta name="viplab:exercise" content="{VIP_EXERCISE}">
     <meta name="viplab:evaluation" content="{VIP_EVALUATION}">
     <meta name="viplab:solution" content="{VIP_SOLUTION}">
     <meta name="viplab:result" content="{VIP_RESULT}">
     <meta name="viplab:cookie" content="{VIP_COOKIE}">
     <meta name="viplab:compmid" content="{VIP_MID}">
     <meta name="viplab:ptscallback" content="vipCorrectionHint">
     <meta name="viplab:container" content="teacher_applet_toggle">
     <script type="text/javascript" language="javascript" src="{INITJS}/teacher/teacher.nocache.js"></script>
     <script src="{INITJS}/ace/ace.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/theme-eclipse.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/theme-katzenmilch.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/mode-java.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/mode-matlab.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/mode-text.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/mode-r.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/ace/mode-plain_text.js" type="text/javascript" charset="utf-8"></script>
     <script src="{INITJS}/jszip/jszip.min.js" type="text/javascript" charset="utf-8"></script>
     <!--                                           -->
     <!-- The body can have arbitrary html, or      -->
     <!-- you can leave the body empty if you want  -->
     <!-- to create a completely dynamic UI.        -->
     <!--                                           -->
     <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
     <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
     </noscript>
     <script>
	function vipCorrectionHint(points)
	{
		$("#question__{VIP_APP_ID}__points").val(points);
	}
     </script>
</div>
</div>
<!-- END complete -->
