<p>{SOLUTION_TXT}</p>
<div id="teacher_applet_placeholder" style="position: relative; width: 100%">
    <div id="teacher_applet_toggle_{INSTANCE_ID}" style="position: relative; width: 100%">
        <meta name="gwt:property" content="locale=<%=request.getLocale()%>">
        <meta name="viplab:{INSTANCE_ID}:ecslocation" content="{VIP_ECS_URL}/numlab">
        <meta name="viplab:{INSTANCE_ID}:exercise" content="{VIP_EXERCISE}">
        <meta name="viplab:{INSTANCE_ID}:evaluation" content="{VIP_EVALUATION}">
        <meta name="viplab:{INSTANCE_ID}:solution" content="{VIP_SOLUTION}">
        <meta name="viplab:{INSTANCE_ID}:result" content="{VIP_RESULT}">
        <meta name="viplab:{INSTANCE_ID}:cookie" content="{VIP_COOKIE}">
        <meta name="viplab:{INSTANCE_ID}:compmid" content="{VIP_MID}">
        <meta name="viplab:{INSTANCE_ID}:ptscallback" content="vipCorrectionHint">
        <meta name="viplab:{INSTANCE_ID}:container" content="teacher_applet_toggle_{INSTANCE_ID}">

        <!--                                           -->
        <!-- This script loads your compiled module.   -->
        <!-- If you add any GWT meta tags, they must   -->
        <!-- be added before this line.                -->
        <!--                                           -->
        <script src="{ROOT}/js/teacher_init.js" type="text/javascript"></script>
        <script src="{INITJS}/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/theme-eclipse.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/theme-katzenmilch.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/mode-java.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/mode-matlab.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/mode-text.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/mode-r.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/ace/mode-plain_text.js" type="text/javascript" charset="utf-8"></script>
        <script src="{INITJS}/jszip/jszip.min.js" type="text/javascript" charset="utf-8"></script>

        <!-- BEGIN immediate_init --><!-- {IMMEDIATE_INIT} -->
        <script>init_teacher('{INITJS}/teacher/teacher.nocache.js', '{INSTANCE_ID}')</script>
        <!-- END immediate_init -->

        <!-- BEGIN deferred_init --><!-- {DEFERRED_INIT} -->
        <button id="init_teacher_{INSTANCE_ID}" onclick="init_teacher('{INITJS}/teacher/teacher.nocache.js', '{INSTANCE_ID}')">{EDITOR_START}</button>
        <!-- END deferred_init -->

        <!--                                           -->
        <!-- The body can have arbitrary html, or      -->
        <!-- you can leave the body empty if you want  -->
        <!-- to create a completely dynamic UI.        -->
        <!--                                           -->
        <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
        <noscript>
            <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
                Your web browser must have JavaScript enabled
                in order for this application to display correctly.
            </div>
        </noscript>
        <script>
            function vipCorrectionHint(points)
            {
                $("#question__{VIP_APP_ID}__points").val(points);
            }
        </script>
    </div>
</div>
