<!-- BEGIN complete -->
<div id="teacher_applet_toggle" >
	<applet	archive="{VIP_APPLET}"	code="teacherApplet.TeacherApplet.class" width="{VIP_WIDTH}" height="{VIP_HEIGHT}" name="ViPLab">
		<param name="appletURL" value="{VIP_APPLET_URL}" />
		<param name="ecsBase" value="{VIP_ECS_URL}" />
		<param name="exerciseLocation" value="{VIP_EXERCISE}" />
		<param name="solutionLocation" value="{VIP_SOLUTION}" />
		<param name="evaluationLocation" value="{VIP_EVALUATION}" />
		<param name="resultLocation" value="{VIP_RESULT_ID}" />
		<param name="ptscallback" value="{VIP_INSERT}" /> <!-- untested -->
		<param name="cookie" value="{VIP_COOKIE}" /> 
		<param name="eventsqueue" value="true" />
		<param name="embedding" value="true" />
		<param name="compmid" value="{VIP_MID}" />
		<param name="lang" value="{VIP_LANG}" />
	</applet>
</div>
<!-- END complete -->
